{% extends 'base2.html' %}
{% block content %}

<div class="feed">
  {% for post in posts %}
  <h3>{{ post.user.username }}</h3>

  <div class='caption'>
    {{ post.caption }}
  </div >
  <br>
  <div class="thumbnails">
    <img src="{{ post.image_url }}" alt="">
    <div class="time">
      {{post.created_on}}
    </div>

    <div class="like">
      <form method="post" action='/like/'>
        {% csrf_token %}
        <input type="hidden" name="post" value="{{ post.id }}">
        {% if post.has_liked %}
          <button class="btn btn-default">Unlike <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
        {% else %}
          <button class="btn btn-default">Like <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
        {% endif %}
      </form>

      <div class='like-count' style='display: inline-block'>
        {{ post.like_count }} likes

      </div>
    </div>

    <div class='comment'>

      {% for comment in post.comments %}

        <p>
          <div class="username">
              {{ comment.user.username }} <span class='created_on'>&nbsp;[{{ comment.created_on }}]</span>
              <br>
              <span class='comment-text'>{{ comment.comment_text }}</span>
              <div class="upvote">
                <form method="post" action='/upvote/'>
                  {% csrf_token %}
                  <input type="hidden" name="comment" value="{{ comment.id }}">
                  {% if comment.has_upvoted %}
                    <button class="btn btn-default btn-upvote">Downvote <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
                  {% else %}
                    <button class="btn btn-default btn-upvote">Upvote <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
                  {% endif %}
                </form>

                <div class='like-count' style='display: inline-block'>
                  {{ comment.upvote_count }} Upvotes

                </div>
              </div>
          </div>


        </p>

      {% endfor %}


      </div>

    <div class="make-a-comment">
      <form method="POST" action="/comment/">
        {% csrf_token %}
        <input type="hidden" name="post" value="{{ post.id }}" >
        <input type="text" class='form-control' name="comment_text" id="comment_text" placeholder="Type here to send a comment" value="{{ comment_text }}">
        {# {{ comment_text }} #}
        <input type="submit" class="btn-default btn comment_button" value="Comment">
      </form>

    </div>
    <h4 style='color: #f45641'>CATEGORY</h4>
    <div class="tags" style='color: #acf441'>
        <div class="tag">
        {% for category in post.categories %}
                {{ category.category_text }}
            {% endfor %}

        </div>
    </div>
  </div>





  {% endfor %}
  {% include 'snippets/footer.html'%}


</div>
{% endblock %}
