{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
</head>
<body>
	<div class="main">
            <h1> Instagram Clone</h1>
            <h3>Log In</h3>

            <h3>{{ message }}</h3>
    </div>

    <div>
        <form method="post" action="/login/">
            {% csrf_token %}
            <div>
                <label for="username">Username: </label>
                <input id="username" type="text" name="username" value={{ username }}>
            </div>

            <div>
                <label for="password">Password: </label>
                <input id="password" type="password" name="password" value={{ password }}>
            </div>
                <input type="submit" value="Log In">
        </form>


    </div><br><br>

    <div><h3>Don't have an account?</h3><a href="/">Sign Up</a> </div>
</body>
</html>