{% extends 'base.html' %}
{% block title %}
    Warning | Kids Zone
{% endblock %}
{% block user-status %}
    {{data}}
{% endblock %}
{% block status %}
    <form method="post" action="/status-update/">
        {% csrf_token %}
        <input type="text" class="w3-border w3-padding" placeholder="Status: Feeling Blue" style="margin-top: 15px;
margin-bottom: 15px; width:390px;" name="status" value="{{status}}">
        <button type="submit" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Post</button>
    </form>
{% endblock %}
{% block feed %}

    <div class="w3-card-2 w3-round w3-white" id ="post_box">
        <div class="w3-container w3-padding">
            <h3>{{error_message}} </h3>
        </div>
    </div>

{% endblock %}